nav{
    display: flex;
    background-color: forestgreen;
    justify-content: space-around;
    
    border: 1px solid black;
    box-sizing: border-box;
    padding: 10px;
}
h1{
    text-align: center;
    background-color: burlywood;
}
nav > a{
    border: 1px solid black;
    padding: 5px;
    background-color: burlywood;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: 2s;
    border-radius: 2rem 2rem 2rem 2rem;
    
}
a:hover{
    background-color: khaki;
}
body{
    background-image: url(Tenmile.jpg); 
    background-repeat:no-repeat;

   background-size:cover;
}
h2{
    background-color: burlywood;
    text-align: center;
    font-family: cursive;
    border: 2px solid black;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    
}
.imageContainer{
    display: flex;
    justify-content: space-around;
    padding: 50px;
}
.portfolio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
    background-color: aquamarine;
    width: 70vw;
    margin: auto;
    padding: 10px;
}
}
h3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    border: 2px solid black;
    background-color: cornflowerblue;
    width: 400px;
}
form{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    border: 2px solid black;
    background-color: beige;
    width: 300px;
    margin: auto;
}
@media (max-width: 400px){
    nav {
        flex-direction: column;
    }
}
#contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    }
.paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    background-color: aquamarine;
    width: 70vw;
    margin:auto
}
.paragraph > h3 {
    text-decoration: underline 2px;
}
.portfolio  h3{
text-decoration: underline 2px;
text-align: center;
}
#contact > h3{
    display: flex;
    justify-content: center;
    font-family: cursive;
    font-size: 1.4rem;
    text-decoration: underline;
}
h1{
    width: 70vw;
    margin: auto;
    border: 2px solid black;
}